* {



    font-family: designer;



}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    position: absolute;
    background-image: url(../Sources/assets/espacio.jpg);

}


.Inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}



.logo {
    margin: 15px -20px 5px 10px;
    width: 150px;
    left: 20px;
    position: relative;
    top: -10px;
    right: 800px;
    transition: transform 0.3s ease;
    right: 200px;

}

.logo:hover {
    transform: scale(1.2);
}


.BtnI {

    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    color: #D6D4D4;
    text-align: center;
    background-color: transparent;
    top: 30px;
    align-items: baseline;
    margin: 5px;

    cursor: pointer;
    right: 580px;
    position: relative;
    display: inline-block;
}

.BtnI:hover {

    transform: scale(1.2);
}

.play {
    position: relative;
    background-color: #0000005d;
    color: #000000;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    top: -300px;
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    border-radius: 50px;
}

.text-box {
    flex: 1;
    border-radius: 20px;



}

.video-play {
    width: 60%;
    border-radius: 20px;
    position: relative;
    top: 10px;
}

.container1 img {
    flex: 1;
   
    max-width: 500px;
    
    border-radius: 10px;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 0 0 100px;
    width: 00px;

}

.redes:hover {
    font-size: 35px;
    transition: 0.5s;
}

.img-logo {
    width: 150px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.img-logo:hover {
    width: 150px;
    border-radius: 5px;
    transform: scale(1.2);

}

.foote {
    background-color: #00000059;
    padding: 10px;
    padding: 10px;
    margin-top: 60px;
    border-radius: 20px;


}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin: auto;
    width: 1200px;
}

.foot a {
    color: rgb(255, 253, 253);
    text-decoration: none;
    font-size: 19px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 1350px;

}

.redes a {
    font-size: 35px;
    transition: 0.5s;
}

.Yout {
    color: rgb(255, 255, 255);
}

.Tik {
    color: rgb(255, 255, 255);
}

.Whats {
    color: rgb(255, 255, 255);
}

.Ins {
    color: rgb(255, 255, 255);
}

.redes a:hover {
    transform: scale(1.4);
}

.btn-sugerencia {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
}

.reproducir {
 
    display: inline-block;  /* ← hace que respete width y height */
    text-align: center;     /* centra el texto */
    line-height: 40px;      /* centra verticalmente el texto */
    width: 300px;
    height: 40px;
    border-radius: 20px;
    background-color: #82368C;
    color: #D6D4D4;
    cursor: pointer;
    text-decoration: none;  /* quita el subrayado típico de los <a> */
    font-weight: bold;
   
}


.reproducir:hover {
    transform: scale(1.2);

}

.h11 {
    color: #82368C;
    background-color: #D6D4D4;
    border-radius: 20px;
}
.flech{
    width: 900%;
    color: #D6D4D4;
    
    
} 
#flech{
    font-size: 50px;
    position: relative;
    right: -10px;
}